@import "compass/utilities/general/clearfix"
@import "partials/_forms"
body
  margin: 0 !important
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  img
    border: none

h3
  font-size: 16pt

.clear
  clear: both
  height: 0
  overflow: hidden

.clearfix
  +clearfix

.hidden
  display: none

#header
  h1
    a
      font-size: 26pt
      float: left
      text-transform: uppercase
      text-decoration: none
      font-weight: bold
      letter-spacing: -.1em
  #userlinks
    float: right
    font-size: 16pt
    margin: .5em
    span
      display: inline !important
    a
      text-decoration: none
      display: inline

#container
  +clearfix
  width: 75%
  margin: 0 auto
  padding: 20px 40px
  margin-top: 20px
  h2
    font-size: 20pt
    margin-bottom: .5em
  h4
    margin-top: 1em
    font-size: 12pt
    font-style: oblique
  li
    a
      display: block
      padding: .5em
  #edit-button
    float:right

      
#info, .info
  h3
    font-size: 14pt
    padding-bottom: .4em
  ol
    margin-bottom: 1em
    list-style-type: decimal
    list-style-position: inside
    li
      padding: 1em 1em 0 1em

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0

.fieldWithErrors
  display: inline

.error_messages
  margin: .5em 0
  ul
    margin: .5em
    li
      color: black

.content-section
  +clearfix
  h3
    font-size: 12pt
    margin-bottom: .75em
    &.logged-in
      float: left
  .add-element
    float: right
  #content
    float: left
  span.editable
    padding-bottom: .5em !important
    textarea
      width: 98% !important
      height: 50px !important
  .paper, .course
    +clearfix
  .modifiers
    float: right
    a
      display: inline !important
      padding: 0 1em
    
#layout
  h3
    cursor: move
    
#footer
  width: 75%
  margin: 0 auto
  padding: 20px 40px
  margin-top: 20px
