@import "compass/utilities/general/clearfix"
body
  margin: 0 !important
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

.clearfix
  +clearfix

.hidden
  display: none

#header
  h1
    a
      font-size: 26pt
      float: left
      text-transform: uppercase
      text-decoration: none
      font-weight: bold
      letter-spacing: -.1em
  #userlinks
    float: right
    font-size: 16pt
    margin: .5em
    span
      display: inline !important
    a
      text-decoration: none
      display: inline

#container
  +clearfix
  width: 75%
  margin: 0 auto
  padding: 20px 40px
  margin-top: 20px
  h2
    font-size: 20pt
    margin-bottom: .5em
  li
    a
      display: block
      padding: .5em
      
#style-switcher
  margin: 1em
  h3
    font-size: 14pt
    padding-bottom: .5em
  a
    display: inline-block
    border: 1px solid grey
    padding: 1em

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0

.fieldWithErrors
  display: inline

.error_messages
  margin: .5em 0
  ul
    margin: .5em
    li
      color: black

.content-section
  h3
    font-size: 12pt
    margin-bottom: .5em
