-title "Welcome!"

.clear

.content-section#introduction
  %h2 Out with the old.
  .clear
  Maybe you've created a personal page sometime in the past, and it looked something like this:
  .clear
  %br
  = image_tag "pre-page.png", :style => "border: 1px solid grey; padding: .5em; margin: .5em;"
  .clear
  %br
  %h2 In with the new.
  .clear
  Use Pr.fess.r to put a fresh coat of paint on your personal "about me" page.  
  .clear
  %br
  = image_tag "post-page.png", :style => "border: 1px solid grey; padding: .5em; margin: .5em;"
  
  .clear
  = link_to "Sign up now", signup_path, :class => "button positive"
  = link_to "View sample personas", users_path, :class => "buton positive"
