-title "Welcome!"

.content-section#introduction
  %h2 Out with the old... 
  Maybe you've created a personal page sometime in the past, and it looked something like this:
  .clear
  %br
  = image_tag "pre-page.png"
  .clear
  %br
  %h2 ...and in with the new.
  Use Pr.fess.r to put a fresh coat of paint on your personal "about me" page.  
  
  .clear
  = link_to "Sign up now", signup_path, :class => "button positive"
  = link_to "View sample personas", users_path, :class => "buton positive"
