-title "Welcome!"

.clear

.content-section#introduction
  %h2 Your twenty-first century business card. 
  .clear
  %p Need to create a simple, online "about me" page?  Pr.fess.r is the answer.
  %p Create an easy, elegant, and stylish web persona with just a few clicks, or look around and see what other professors like you have created.
  .clear
  = link_to "Learn more", learn_path, :class => "button positive"
  = link_to "Sign up now", signup_path, :class => "button positive"
  = link_to "View sample personas", users_path, :class => "buton positive"
