-title "Welcome!"

.clear

.content-section#introduction
  %h2 Your twenty-first century business card. 
  %p As global and central as the internet has become, a professor would be foolish to not have a presence on the web.  If you're not familiar with web technologies, this can be a daunting task and that's exactly where Pr.fess.r comes in.  
  %p Create an easy, elegant, and stylish web persona with just a few clicks, or look around and see what other professors like you have created.
  .clear
  = link_to "Learn more", learn_path, :class => "button positive"
  = link_to "Sign up now", signup_path, :class => "button positive"
  = link_to "View sample personas", users_path, :class => "buton positive"
