/* line 1, sass/application.sass */
body {
  margin: 0 !important;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 8, sass/application.sass */
a img {
  border: none;
}

/* line 11, sass/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 18, sass/application.sass */
#header h1 a {
  font-size: 26pt;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -0.1em;
}
/* line 25, sass/application.sass */
#header #userlinks {
  float: right;
  font-size: 16pt;
  margin: 0.5em;
}
/* line 29, sass/application.sass */
#header #userlinks span {
  display: inline !important;
}
/* line 31, sass/application.sass */
#header #userlinks a {
  text-decoration: none;
  display: inline;
}

/* line 35, sass/application.sass */
#container {
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}
/* line 40, sass/application.sass */
#container h2 {
  font-size: 20pt;
  margin-bottom: 0.5em;
}
/* line 44, sass/application.sass */
#container li a {
  display: block;
  padding: 0.5em;
}

/* line 48, sass/application.sass */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 54, sass/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 57, sass/application.sass */
.error_messages {
  margin: 0.5em 0;
}
/* line 59, sass/application.sass */
.error_messages ul {
  margin: 0.5em;
}
/* line 61, sass/application.sass */
.error_messages ul li {
  color: black;
}

/* line 65, sass/application.sass */
.content-section h3 {
  font-size: 12pt;
  margin-bottom: 0.5em;
}
