- title "Edit your Profile"

.clear

#style-switcher
  %h3 Choose a style for your page:
  -for style in @styles
    =link_to style.name, "#"

= render 'form'

.clear

= link_to "Cancel", :back, :class => "button negative"
