%h2=h "#{@user.title} #{@user.name}"

#prof-info
  .content-section
    %h3 Biography
    %span=h @user.bio
    
  .content-section
    %h3 Courses
    -for course in @user.courses
      =link_to course.title, course.link
